[
        { rabbit, [
                { loopback_users, [ ] },
                { tcp_listeners, [5672] },
                { ssl_listeners, [5671] },
                { ssl_options, [
		    { cacertfile, "/ssl-certs/chain.pem"},
                    { certfile, "/ssl-certs/cert.pem" },
                    { keyfile, "/ssl-certs/key.pem" },
                    { verify,verify_peer },
                    { fail_if_no_peer_cert, true }
                ]}
        ] },

	{ rabbitmq_management, [
		{ listener, [
			{ port,     15671},
               		{ ssl,      true}
              	]}
  	] },

	{rabbitmq_web_stomp,
      		[{ssl_config, [{port, 61614},
                     {backlog,    1024},
		     {cacertfile, "/ssl-certs/chain.pem"},
                     {certfile,   "/ssl-certs/cert.pem"},
                     {keyfile,    "/ssl-certs/key.pem"}
                 ]}]}	
].
